@media only screen and (max-width: 1080px)  {

	body {
		font-family: 'Noto Sans', sans-serif;
		padding: 0;
		margin: 0;
	}
	

	nav {
		font-size: 1.8em;
	}
	
	nav a:hover, nav a:visited, nav a:link {
		text-decoration: none;
	}
	
	#menu ul {
		margin: 0;
		padding: 0;
	  }
	  
	  #menu .main-menu {
		display: none;
	  }
	  
	  #tm:checked + .main-menu {
		display: block;
	  }
	  
	  #menu input[type="checkbox"], 
	  #menu ul span.drop-icon {
		display: none;
	  }
	  
	  #menu li, 
	  #toggle-menu, 
	  #menu .sub-menu {
		border-style: solid;
		border-color: rgba(0, 0, 0, .05);
	  }
	  
	  #menu li, 
	  #toggle-menu {
		border-width: 0 0 1px;
	  }
	  
	  #menu .sub-menu {
		background-color: #444;
		border-width: 1px 1px 0;
		margin: 0 1em;
	  }
	  
	  #menu .sub-menu .sub-menu {
		background-color: #4b688a;
		border-width: 1px 1px 0;
		margin: 0 1em;
	  }


	  #menu .sub-menu li:last-child {
		border-width: 0;
	  }
	  
	  #menu li, 
	  #toggle-menu, 
	  #menu a {
		position: relative;
		display: block;
		color: white;
	  }
	  
	  #menu, 
	  #toggle-menu {
		background-color: #689fe0;;
	  }
	  
	  #toggle-menu, 
	  #menu a {
		padding: 1em 1.5em;
	  }
	  
	  #menu a {
		transition: all .125s ease-in-out;
		-webkit-transition: all .125s ease-in-out;
	  }
	  
	  #menu a:hover {
		background-color: white;
		color: #689fe0;;
	  }
	  
	  #menu .sub-menu {
		display: none;
	  }
	  
	  #menu input[type="checkbox"]:checked + .sub-menu {
		display: block;
	  }
	  
	  #menu .sub-menu a:hover {
		color: #444;
	  }
	  
	  #toggle-menu .drop-icon, 
	  #menu li label.drop-icon {
		position: absolute;
		right: 0.4em;
		top: 0.1em;
	  }
	  
	  #menu label.drop-icon, #toggle-menu span.drop-icon {
		border-radius: 50%;
		width: 2em;
		height: 2em;
		text-align: center;
		font-size: 1.5em;
		background-color: rgba(0, 0, 0, .125);
		color: rgba(255, 255, 255, .75);
	  }
	  
	  #menu .drop-icon {
		line-height: 1.9;
	  }
	  
	  
		#menu li {
		  width: 100%;
		}
	  
		#menu .sub-menu li {
		  width: auto;
		}
	  }
	  
	  @media only screen and (min-width: 1080px) {
		body {
			font-family: 'Noto Sans', sans-serif;
			padding: 0;
			margin: 0;
		}
	  
		#toggle-menu, 
		#menu label.drop-icon {
		  display: none;
		}
	  
		#menu ul span.drop-icon {
		  display: none;
		}
	
		#menu input[type="checkbox"]:checked + .sub-menu {
		  display: none;
		}
		#menu input[type="checkbox"], 
		#menu ul span.drop-icon {
		  display: none;
		}
	  
			.AJXMenueDFaTFD {position:relative;margin:0 auto;z-index:100;max-width:898px;min-width:500px;min-height:28px;max-height:84px;border:1px solid #3770b5;background:#689fe0;text-align:center;z-index: 500;}
			.AJXMenueDFaTFD ul {position:relative;display:inline-block;margin:0;padding:0;list-style-type:none;}
			* html .AJXMenueDFaTFD ul {display:inline;}
			*+html .AJXMenueDFaTFD ul {display:inline;}
			.AJXMenueDFaTFD li {float:left;margin:0;padding:2px 0px 2px 0;}
			.AJXMenueDFaTFD li.tfirst {padding-left:2px;}
			.AJXMenueDFaTFD li.tlast {padding-right:2px;}
			.AJXMenueDFaTFD li:hover,.AJXMenueDFaTFD li a:hover {position:relative;}
			.AJXMenueDFaTFD a {display:block;float:left;height:22px;white-space:nowrap;padding:0 11px 0 11px;font: 12px/24px Verdana,Arial,Helvetica,sans-serif;text-decoration:none;text-align:left;border:1px solid #689fe0;color:#000000;}
			.AJXMenueDFaTFD li:hover a,.AJXMenueDFaTFD a:hover {border-color:#c2d5e2;background:hsl(213, 66%, 69%);}
			.AJXMenueDFaTFD a.ajxsub {padding:0 20px 0 11px;background:url(ajxmenu_files/top-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD li:hover a.ajxsub,.AJXMenueDFaTFD a.ajxsub:hover {background:#7cabe4 url(ajxmenu_files/top-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD ul ul {position:absolute;display:block;left:-9999px;top:-9999px;width:166px;height:auto;border:none;background:hsl(213, 66%, 80%);}
			.AJXMenueDFaTFD table {margin-top:-1px;border-collapse:collapse;}
			.AJXMenueDFaTFD ul :hover ul {left:-3px;top:28px;}
			* html .AJXMenueDFaTFD :hover ul {left:-4px;top:25px;}
			.AJXMenueDFaTFD .tfirst:hover ul {left:-1px;}
			.AJXMenueDFaTFD li li {width:160px;border:1px solid hsl(213, 66%, 80%);border-width:0 1px;padding:0 2px 0px 2px;}
			.AJXMenueDFaTFD li li.sfirst {border-top:1px solid hsl(213, 66%, 80%);}
			.AJXMenueDFaTFD li li.slast {border-bottom:1px solid hsl(213, 66%, 80%);padding-bottom:2px;}
			.AJXMenueDFaTFD ul ul a,.AJXMenueDFaTFD ul :hover ul a,.AJXMenueDFaTFD ul :hover ul :hover ul a,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul a,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul :hover ul a {float:none;margin:0;width:142px;height:auto;white-space:normal;padding:6px 8px 6px 8px;font:10px/20px Verdana,Arial,Helvetica,sans-serif;text-decoration:none;border:1px solid #689fe0;color:#000000;background:none;}
			.AJXMenueDFaTFD ul :hover ul .sfirst a,.AJXMenueDFaTFD ul :hover ul :hover ul .sfirst a,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul .sfirst a,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul :hover ul .sfirst a {margin-top:2px;}
			.AJXMenueDFaTFD ul ul :hover a,.AJXMenueDFaTFD ul ul a:hover,.AJXMenueDFaTFD ul ul :hover ul :hover a,.AJXMenueDFaTFD ul ul :hover ul :hover ul :hover a,.AJXMenueDFaTFD ul ul :hover ul :hover ul :hover ul :hover a,.AJXMenueDFaTFD ul ul :hover ul a:hover,.AJXMenueDFaTFD ul ul :hover ul :hover ul a:hover,.AJXMenueDFaTFD ul ul :hover ul :hover ul :hover ul a:hover {font-weight:bold;border-color:#c2d5e2;background:#7cabe4;}
			.AJXMenueDFaTFD ul .left a.ajxsub,.AJXMenueDFaTFD ul :hover .left a.ajxsub,.AJXMenueDFaTFD ul :hover .left :hover ul a.ajxsub,.AJXMenueDFaTFD ul :hover .left :hover ul :hover ul a.ajxsub {width:138px;padding:6px 12px 6px 8px;background:url(ajxmenu_files/sub-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD ul .left :hover a.ajxsub,.AJXMenueDFaTFD ul .left :hover ul :hover a.ajxsub,.AJXMenueDFaTFD ul .left :hover ul :hover ul :hover a.ajxsub,.AJXMenueDFaTFD ul .left a.ajxsub:hover ,.AJXMenueDFaTFD ul .left a.ajxsub:hover a.ajxsub:hover ,.AJXMenueDFaTFD ul .left a.ajxsub:hover a.ajxsub:hover a.ajxsub:hover  {background:#7cabe4 url(ajxmenu_files/sub-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD ul .right a.ajxsub,.AJXMenueDFaTFD ul :hover .right a.ajxsub,.AJXMenueDFaTFD ul :hover .right :hover ul a.ajxsub,.AJXMenueDFaTFD ul :hover .right :hover ul :hover ul a.ajxsub {width:138px;padding:6px 12px 6px 8px;background:url(ajxmenu_files/left-sub-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD ul .right :hover a.ajxsub,.AJXMenueDFaTFD ul .right :hover ul :hover a.ajxsub,.AJXMenueDFaTFD ul .right :hover ul :hover ul :hover a.ajxsub,.AJXMenueDFaTFD ul .right a.ajxsub:hover ,.AJXMenueDFaTFD ul .right a.ajxsub:hover a.ajxsub:hover ,.AJXMenueDFaTFD ul .right a.ajxsub:hover a.ajxsub:hover a.ajxsub:hover  {background:#7cabe4 url(ajxmenu_files/left-sub-sub.gif) no-repeat center right;}
			.AJXMenueDFaTFD ul :hover ul ul,.AJXMenueDFaTFD ul :hover ul :hover ul ul,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul ul,* html .AJXMenueDFaTFD ul :hover ul :hover ul ul,* html .AJXMenueDFaTFD ul :hover ul :hover ul :hover ul ul {position:absolute;left:-9999px;top:-9999px;}
			.AJXMenueDFaTFD ul :hover .right ul,.AJXMenueDFaTFD ul :hover .right :hover ul ul,.AJXMenueDFaTFD ul :hover .right :hover ul :hover ul ul,* html .AJXMenueDFaTFD ul :hover .right :hover ul ul,* html .AJXMenueDFaTFD ul :hover .right :hover ul :hover ul ul {position:absolute;left:-9999px;top:-9999px;}
			.AJXMenueDFaTFD ul :hover .left ul,.AJXMenueDFaTFD ul :hover .left :hover ul ul,.AJXMenueDFaTFD ul :hover .left :hover ul :hover ul ul,* html .AJXMenueDFaTFD ul :hover .left :hover ul ul,* html .AJXMenueDFaTFD ul :hover .left :hover ul :hover ul ul {position:absolute;left:-9999px;top:-9999px;}
			.AJXMenueDFaTFD ul :hover .right :hover ul,.AJXMenueDFaTFD ul :hover .right :hover ul :hover ul,.AJXMenueDFaTFD ul :hover .right :hover ul :hover ul :hover ul {left:-159px;top:-3px;} 
			.AJXMenueDFaTFD ul :hover .left :hover ul,.AJXMenueDFaTFD ul :hover .left :hover ul :hover ul,.AJXMenueDFaTFD ul :hover .left :hover ul :hover ul :hover ul {left:159px;top:-3px;} 
			* html .AJXMenueDFaTFD ul :hover ul :hover ul,* html .AJXMenueDFaTFD ul :hover ul :hover ul :hover ul,* html .AJXMenueDFaTFD ul :hover ul :hover ul :hover ul :hover ul {left:156px;top:-4px;}
			.AJXMenueDFaTFD ul :hover ul .sfirst:hover ul,.AJXMenueDFaTFD ul :hover ul :hover ul .sfirst:hover ul,.AJXMenueDFaTFD ul :hover ul :hover ul :hover ul .sfirst:hover ul {top:-1px;}
			.AJXMenueDFaTFD br {clear:both;height:0;font-size: 1px;line-height: 0px;}
	
	  }
	