body {
	background-color:DarkSlateGrey; /*AliceBlue */
	color:#F0F8FF; /*AliceBlue */
}
a:link { color:aqua }
a:visited {color:yellow }
a:hover { color: #00FF00 }    
a:active { color: #00FF00 }
border-color: #F0F8FF;

.Red {
	color: #FF0000 }
.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bolder;
	font-style: italic;
	color: #FF0000;
	text-align: center;
}
.h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bolder;
	font-style: italic;
	color: #FF0000;
	text-align: center;
}
.h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: italic;
	color: #FF0000;
	text-align: center;
}
.h3_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: italic;
	color: #FF0000;
	text-align: left;
}
.h4 {
	text-align: center;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	color:red;
	font-style: italic;
}
.h5 {
	text-align: center;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-style: italic;
}
.h6 {
	text-align:justify;
	font-size:small;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-style: italic;
}
.h7 {
	text-align:center;
	font-size:x-small;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-style: italic;
}
.smalltext {
	font-size:small;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-style: italic;
}
.x-smalltext {
	font-size:x-small;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-style: italic;
}
.tableborder1 {
	border-style: solid;
	border-width: 2px;
}
.border {
	border-width: 2px
}
.style1 {
	text-align: center;
}
.style2 {
	color: #FF0000;
}
.style3 {
	color: #FFFF00;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: center;
}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
}
.style5a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
}
.style6Red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color:red;
	text-align: left;
	margin: 10px;
}
.style6RedSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color:red;
	text-align: left;
	margin: 10px;
}
.style6L {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
}
.style6R {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: right;
	margin: 10px;
}
.style6C {
	font-family: Arial, Helvetica, sans-serif;
	font-size:large;
	text-align: center;
	margin: 10px;
}
.style6CM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #00FFFF;
	text-align:justify;
	margin: 10px;
}
.style6-border{
	border: 2px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
}
.style6s {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	margin: 10px;
}
.style6wborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: justify;
	margin: 10px;
}
.style6-Yellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #FFFF00;
	text-align: left;
	margin: 10px;
}
.style6-Red_Text-Yellow-Background {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #FF0000;
	background-color: #FFFF00;
	text-align: left;
	margin: 10px;
}
.style6twhiteborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
	border: 1px solid;
}
.style7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: center;
	margin: 10px;
}

.style7Bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: center;
	font-weight: bold;
	margin: 10px;

}

.style7redsmall{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: center;
	color:red;
	margin: 10px;
}
.style7whiteborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: center;
	margin: 10px;
	border: 1px solid 
}
.style7whiteborder-aligh-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
	border: 1px solid ;
}
.style7wborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: center;
	margin: 10px;
	border: 1px solid #FF0000;
}
.style8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	font-style: italic;
	color: #FF0000;
	text-align: center;
}
.style9 {
	color: #FFFF00;
}
.style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin-left: 40px;
}
.style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: left;
	margin: 10px;
	border-width: 1px
	border-style: solid
	border-color: #FF0000;
}
.style12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-align: center;
	margin: 10px;
	border: 1px solid #FF0000;
}
.style13 {
	color: #FF0000;
	text-align: center;
}
.style14 {
	color: #00FFFF;
}
.style16 {
	
}
.style17 {
	border: 4px solid #FF0000;
	text-align: left;
}
.style18 {
	border: 4px solid #FF0000;
	text-align: justify;
}
.style19 {
	text-align: center;
	color: #FF0000;
	margin: 2px;
}
.style21 {
	margin: 4px;
}
.style22 {
	border: 4px solid #FF0000;
}
.auto-style1 {
	border: 2px solid #FF0000;
}
.auto-style3 {
	border: 1px solid #00FFFF;
}

	
/* Dropdown Button */
.dropbtn {
	background-color: transparent;
	color:lightblue;
	padding: 4px;
	font-size: 10pt;
	border: none;
	cursor: pointer;
  }
  
   
  #form #q {
	color: whitesmoke;
}
