.frame
{
	border: 1px #CC0000 solid; /* border color*/
	background-image: url('llred.jpg');   /*frame background*/
	background-repeat: repeat-y;
	width: 805px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family:Verdana, Geneva, Tahoma, sans-serif; /* font type */
	margin:0 auto;  /*auto centering*/
}

body
{
	background-color: #000000; /* background color*/
	margin: auto;              /* frame center */ 
	margin-top: 0;             
	color: white;              /*text color*/   
}

/* Links properties : */
a:hover /* Quand le visiteur pointe sur le lien */
{
   text-decoration: underline;
   color: #FF3300;
}
a /* normal link */
{
   text-decoration: none;
   color: red;
   font-style: italic;
}
/*************************/

/* form properties */
input, textarea
{
	background-color:#CC0000;
	color:white;
}



/*******************/

.logo
{
	width:600px;
	margin:auto;
	text-align:center;
	margin-bottom:20px;
}

img
{
	border:0px;
}

.losmandy_logo
{
	height:67px;
	width:600px;
}

.gemini_logo
{
	width: 250px;
	height: 137px;
}

.menu
{
	margin: 0 auto;
	width:100%;
}

.menu_title
{
	text-align:right;
	/*width: 130px;*/
}

.menu_link
{
	text-align:center;
}

.footer
{
	font-size:x-small;
	text-align:center;
}

.style_switcher
{
	text-align:center;
	font-size:small;
}
